<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>あなただけのオリジナル大学を作ろう！</h1>
      </div>
    </div>
  </div>
<% end %>
 <%= render 'articles/index', articles: @articles %>