<div class="container">
  <div class="panel panel-danger">
      <div class="panel-heading">
          <div class="panel-title">
            <h1>Youniversityとは？？</h1>
          </div>  
      </diV>
      
      <div class="panel-body"> 
        <h4>Youniversityには大学や研究室で扱われるような学術的な論文や専門書の内容を一般向けにわかりやすく解説した記事が集まる場所です。</h4><br>
        <h4>あなたの興味関心のある記事ピックアップし、<strong>自分だけのオリジナル大学作っていきましょう！</strong></h4><br>
        
        <h3>Youniversityでできること</h3>
          <ul>
            <li>記事の閲覧</li>
            <li>記事に対する「いいね」「あとでみる」</li>
            <li>記事の作成（誰でも可 ＊記事には参考文献が必須）</li>
          </ul>
      </div>
  </diV>
</div>  