<div class="container">
    <div class="content">
      
        <% @articles.each do |article| %>
              <div class="column">
                <div class="panel-heading text-center">
                  <%= image_tag(article.eyecatch,:size => "120x120",:class => "border-radius") %>
                </div>
                  <div class="panel-body">
                   <p class="article-title"><%= link_to article.title, article %></p>
                  </div>
              </div>
           
        <% end %>
      </div>
            <% end %>
                  
         </div>
    </div> 
</div>